@keyframes loadingAnimation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
  .loadingBar {
    height: 5px;
    width: 100%;
    background-color: #007bff;
    animation-name: loadingAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  